<!-- app/views/artists/_form.html.erb -->
<%= form_with(model: artist, local: true, html: { class: 'contents text-white' }) do |form| %>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-black" %>
  </div>

  <div class="my-5">
    <%= form.label :profession %>
    <%= form.select :profession, ['DJ', 'Producer'], {}, { class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-black' } %>
  </div>

<div class="my-5">
  <%= form.label :biography %>
  <%= form.text_area :biography, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

  <div class="my-5">
    <%= form.label :profile_picture %>
    <%= form.file_field :profile_picture, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
  </div>

  <div class="inline">
    <%= form.submit "Submit", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
