<!-- app/views/artists/show.html.erb -->
<div class="flex">
  <!-- Sección de información básica del artista -->
  <div class="w-1/3 p-4 border-r">
    <%= image_tag @artist.profile_picture.variant(resize: "300x300"), class: "rounded-full mb-4" if @artist.profile_picture.attached? %>
    <h1 class="text-2xl font-bold mb-2"><%= @artist.name %></h1>
    <p class="text-gray-500 mb-2"><%= @artist.profession %></p>
    <!-- Iconos de redes sociales aquí -->
  </div>

  <!-- Sección de biografía y releases del artista -->
  <div class="w-2/3 p-4">
    <h2 class="text-2xl font-bold mb-4">Biografía</h2>
    <p><%= @artist.biography %></p>

    <h2 class="text-2xl font-bold mt-8 mb-4">Releases</h2>
    <% @artist.releases.each do |release| %>
      <div class="mb-4">
        <%= link_to release.title, release_path(release) %>
        <!-- Otros detalles del release según tus necesidades -->
      </div>
    <% end %>
  </div>
</div>
